body {
    margin: 0;
    background-image: url(images/purplebackground.jpg);
    background-size: 100%;
}


@font-face {
    font-family: digitalFont;
    src: url(fonts/DS-DIGIB.TTF);
}

.page__title {

    margin: 20px auto;
    text-align: center;
}

.menu__list ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu__list ul li{
    display: inline-block;
}

.menu__list ul li a{
    color: white;
    display: block;
    padding: 10px 40px;
    text-decoration: none;
}

.menu__list ul li a:hover{
    background-color: #42B881;
}

.menu__logo {
    background-color: blue;
}

.menu__list {
    background-color: black;
}
.panel {

    margin: 20px 0px;
    display: flex;
}

.left {
    display: flex;
    flex-direction: column;
    align-items: center;
    /*padding-left: 2%;*/
    width: 29%;
}

.left__title {
    background-image: url(images/wood2.jfif);
    border: 25px solid #B88846;
    border-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='75' height='75'%3E%3Cg fill='none' stroke='%23B88846' stroke-width='2'%3E%3Cpath d='M1 1h73v73H1z'/%3E%3Cpath d='M8 8h59v59H8z'/%3E%3Cpath d='M8 8h16v16H8zM51 8h16v16H51zM51 51h16v16H51zM8 51h16v16H8z'/%3E%3C/g%3E%3Cg fill='%23B88846'%3E%3Ccircle cx='16' cy='16' r='2'/%3E%3Ccircle cx='59' cy='16' r='2'/%3E%3Ccircle cx='59' cy='59' r='2'/%3E%3Ccircle cx='16' cy='59' r='2'/%3E%3C/g%3E%3C/svg%3E") 25;
    width: 400px;
    font-size: 1.1em;
    text-align: justify;
    text-justify: inter-word;
    margin-top: 25px;
    z-index: 1;
    align-items: center;
  }

  .left__title p {
      margin-top: -10px;
      margin-bottom: 40px;
  }

.mark {
    background-color: white;
    z-index: 2;
    width: 133px;
    height: 33px;
    margin-top: -50px;
    margin-left: 100px;
    border: 2px solid black;
    font-family: digitalFont;
    display: flex;
    align-items: center;
    padding-left: 10px;
    font-size: 2em;
}

.timer {
    background-color: black;
    width: 300px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    font-family: digitalFont;
    color: white;
    font-size: 5em;
    border: 5px solid white;
}

.timer__min::after,
.timer__sec::after,
.mark__min::after,
.mark__sec::after {
  content: ": ";
}

.game {

    width: 42%;
    display: flex;
    flex-direction: column;
    align-items: center;
}



.game__image {
    background-image: url(images/sky.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 800px;
    
    height: 500px;
    border: 3px solid black;
    cursor: crosshair;	
}

.right {
    width: 29%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.right__title {
    width: 40%;
    height: 30px;
    margin-bottom: 20px;
    align-items: center;
    background-color: rgb(153, 76, 45);
    border: 25px solid #B88846;
    border-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='75' height='75'%3E%3Cg fill='none' stroke='%23B88846' stroke-width='2'%3E%3Cpath d='M1 1h73v73H1z'/%3E%3Cpath d='M8 8h59v59H8z'/%3E%3Cpath d='M8 8h16v16H8zM51 8h16v16H51zM51 51h16v16H51zM8 51h16v16H8z'/%3E%3C/g%3E%3Cg fill='%23B88846'%3E%3Ccircle cx='16' cy='16' r='2'/%3E%3Ccircle cx='59' cy='16' r='2'/%3E%3Ccircle cx='59' cy='59' r='2'/%3E%3Ccircle cx='16' cy='59' r='2'/%3E%3C/g%3E%3C/svg%3E") 25;
}

.right__title h1 {
    text-align: center;
    margin-top: -6px;
}

.right__bullets {
    background-image: url(images/wood2.jfif);
    width: 75%;
    height: 340px;
    border: 3px solid brown;
    display: flex;
}

.bullets {
    padding-left: 25px;
}

li {
    list-style: none;
}

.game__button {
    background-image: url(images/wood.jpg);
    height: 50px;
    width: 175px;
    margin: 40px auto;
    border: 2px solid black;
    border-radius: 15px;
    text-align: center;
    font-size: 1.7em;
    /*font-family: Georgia, 'Times New Roman', Times, serif;*/
    font-family: digitalFont;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.target {
    height: 50px;
    width: 50px;
    background-image: url(images/shootTarget.png);
    background-size: 100%;
    background-repeat: no-repeat;
    border: 1px solid black;
    border-radius: 50%;
    display: inline-block;    
}

.footer {
    width: 100%;
    height: 75px;
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.linkedin {
    width: 10%;
    height: 50px;
    background-color: white;
    color: white;
    border-radius: 50px;
    z-index: 1;
}

footer p {
    margin: 20px;
    color: white;
    font-size: 1.3em;
    list-style: none;
}
